 /* Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 575.98px) { 
    /* header start  */
    .menu ul li a {
        padding: 10px 0 0px !important;
        font-size: 20px;
        text-align: right;
    }
    header{
        padding: 10px 0;
    }
    /* header end  */
    /* slider start  */
    .slider {
        padding-bottom: 80px;
    }
    .c_text {
        margin-top: 20px;
    }
    .c_text h1 {
        font-size: 25px;
    }
    .c_text h2 {
        margin: 15px 0;
        padding-right: 0;
        font-size: 17px;
    }
    .c_text p {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .icon li a i {
        font-size: 35px;
        margin-right: 15px;
    }
    .cid {
        bottom: -70px;
    }
    .cid [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    /* slider  end  */
    /* feature start  */
    .features {
        padding: 40px 0 40px;
    }
    .f_title h1 {
        font-size: 25px;
    }
    .f_title p {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .f_item {
        margin-bottom: 20px;
    }
    .f_icon {
        text-align: center;
        margin-bottom: 15px;
    }
    .f_text {
        text-align: center;
    }
    .f_text p {
        padding-right: 0;
    }
    /* feature end */
    /* contact start  */
    .contact {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .c_title h1 {
        margin-bottom: 10px;
        font-size: 24px;
    }
    .c_title p {
        padding: 0;
        font-size: 16px;
    }
    .s_form {
        margin: 0;
        padding-top: 35px;
    }
    .s_email {
        margin-bottom: 15px;
        padding: 0px 15px;
        height: 45px;
    }
    .s_btn {
        margin-bottom: 20px;
        height: 45px;
    }
    .c_icon ul li i {
        margin: 0px 5px;
        font-size: 35px;
    }
    /* contact end */
    /* footer start  */
    footer {
        padding-bottom: 20px;
    }
    .f_address {
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .f_address li a {
        font-size: 13px;
    }
    .f_menu {
        text-align: center;
    }
    .f_menu li a {
        font-size: 13px;
    }
    /* footer end */
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* header start  */
    .menu ul li a {
        padding: 10px 0 0px !important;
        font-size: 20px;
        text-align: right;
    }
    header{
        padding: 10px 0;
    }
    /* header end  */
    /* slider start  */
    .slider {
        padding-bottom: 80px;
    }
    .c_text {
        margin-top: 40px;
    }
    .c_text h2 {
        margin: 15px 0;
        padding-right: 0;
    }
    .c_text p {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .icon li a i {
        font-size: 40px;
        margin-right: 25px;
    }
    .cid {
        bottom: -70px;
    }
    .cid [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    /* slider  end  */
    /* feature start  */
    .features {
        padding: 40px 0 40px;
    }
    .f_title h1 {
        font-size: 25px;
    }
    .f_title p {
        font-size: 16px;
        margin-bottom: 40px;
    }
    .f_item {
        margin-bottom: 20px;
    }
    .f_icon {
        text-align: center;
        margin-bottom: 15px;
    }
    .f_text {
        text-align: center;
    }
    .f_text p {
        padding-right: 0;
    }
    /* feature end */
    /* contact start  */
    .contact {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .c_title p {
        font-size: 16px;
    }
    .c_title h1 {
        font-size: 28px;
    }
    /* contact end */
    /* footer start  */
    footer {
        padding-bottom: 20px;
    }
    .f_address {
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
        text-align: center;
    }
    .f_menu {
        text-align: center;
    }
    /* footer end */
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
   /* header start  */
    .menu ul li a {
        padding: 10px 0 0px !important;
        text-align: right;
    }
    /* header end  */
    /* slider start  */
    .slider {
        padding-bottom: 80px;
    }
    .c_text {
        margin-top: 40px;
    }
    .c_text h2 {
        margin: 15px 0;
        padding-right: 0;
    }
    .c_text p {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .icon li a i {
        font-size: 40px;
        margin-right: 25px;
    }
    .cid {
        bottom: -70px;
    }
    .cid [data-bs-target] {
        width: 13px;
        height: 13px;
    }
    /* slider  end  */
    /* feature start */
    .f_text p {
        padding-right: 0;
    }
    /* feature end */
    /* contact start  */
    .contact {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    /* footer start  */
   
    /* footer end */
 }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* feature start */
    .f_text p {
        padding-right: 0;
    }
    /* feature end */
   
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
     /* contact start  */
     .c_title p {
        padding: 0;
    }
    /* contact end */
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
 }